body {
  margin: 0;
  background-color: #efede6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  main {
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    position: relative;

    aside {
      width: 50px;
      height: 50px;
      background-color: #96d143;
      position: absolute;
      top: 0;
      left: 0;
      animation: four-corners 5s infinite;
    }
  }
}

@keyframes four-corners {
  0% {
    background-color: black;
    top: 0px;
    left: 0px;
  }

  5% {
    background-color: rgb(255, 47, 0);
    top: 0px;
    left: 0px;
  }

  25% {
    top: 0px;
    left: 450px;
    background-color: rgb(255, 47, 0);
  }

  30% {
    top: 0;
    left: 450px;
    background-color: rgb(255, 225, 0);
  }

  50% {
    top: 450px;
    left: 450px;
    background-color: rgb(255, 225, 0);
  }

  55% {
    top: 450px;
    left: 450px;
    background-color: rgb(81, 0, 255);
  }

  75% {
    top: 450px;
    left: 0px;
    background-color: rgb(81, 0, 255);
  }

  80% {
    top: 450px;
    left: 0px;
    background-color: black;
  }

  100% {
    top: 0px;
    left: 0px;
    background-color: black;
  }
}
