* {
  box-sizing: border-box;
  margin: 0;

  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;

    main {
      background-color: white;
      border: 5px solid #ccc;
      border-radius: 50%;
      height: 300px;
      width: 300px;
      position: relative;
      padding: 30px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

      aside {
        top: auto;
        left: 50%;
        height: 115px;
        transform-origin: bottom center;
        transform: translate(-50%, 0);
        position: absolute;
        border-radius: 5px;

        &.s {
          background-color: tomato;
          width: 3px;
          animation: time 1s linear infinite;
        }

        &.m {
          background-color: #aaa;
          width: 5px;
          animation: time 60s linear infinite;
        }
      }

      div.dot {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 10px;
        width: 10px;
        position: absolute;
        border-radius: 50%;
        background-color: #aaa;
      }
    }
  }
}

@keyframes time {
  from {
    transform: translate(-50%, 0) rotate(0deg);
  }

  to {
    transform: translate(-50%, 0) rotate(360deg);
  }
}
