* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    background-color: thistle;
    color: #333;

    article {
      position: relative;
      height: 15rem;
      width: 10rem;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
      transform-style: preserve-3d;
      animation: card 5s infinite;

      .card {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;

        border-radius: 0.2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        &.front {
          background-color: #fff;
          padding: 1rem;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;

          .top {
            align-self: flex-start;
          }
          .middle {
            font-size: 2rem;
          }

          .bottom {
            align-self: flex-end;
            transform: rotate(180deg);
          }
          p + p {
            font-size: 1rem;
          }
        }

        &.back {
          background-color: #333;
          color: white;
          transform: rotateY(180deg);
          font-size: 3rem;
        }
      }
    }
  }
}

@keyframes card {
  0% {
    transform: translateZ(0) rotateY(0deg);
  }

  5% {
    transform: translateZ(0) rotateY(0deg);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  }

  20% {
    transform: translateZ(300px) rotateY(0deg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  80% {
    transform: translateZ(300px) rotateY(360deg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  95% {
    transform: translateZ(0) rotateY(360deg);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  }

  100% {
    transform: translateZ(0) rotateY(360deg);
  }
}
